<%- include('header.ejs') %>



<div class="cp home">
  <div class="change-password">
    <h1 class="change-password__title">Change Password</h1>
    <% if (error) { %>
      <p class="change-password__error"><%= error %></p>
    <% } %>
    <form class="change-password__form" action="/changepassword_submit" method="post">
      <div class="form-group">
        <label for="currentPassword" class="form-group__label">Current Password:</label>
        <input type="password" id="currentPassword" name="currentPassword" required>
      </div>
      <div class="form-group">
        <label for="newPassword" class="form-group__label">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword" class="form-group__label">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>
      <button type="submit" class="change-password__button">Change Password</button>
    </form>
  </div>
</div>


<%- include('trending_tags.ejs') %>

